<div id="bottom-section">
  {block name="before_header"}
  {define_slot name="global_header"}{include file="global_header.html"}{/define_slot}
  {block name="after_header"}
  				
  <div id="top-menu-bar">
    <div id="top-right-menu-bar">
      {actions_menu category=top_right_menu_bar maxcount=4 class="right"}
    </div>
    	
    <div id="top-left-menu-bar">
      {actions_menu category=top_left_menu_bar maxcount=7}
    </div>
    <div style="clear:both; height: 1px;"></div>				
  </div>
								
  {if !$ENV.prefs.hide_language_selector}
    {block name="before_language_selector"}
    {define_slot name="language_selector"}<div id="language_selector">{language_selector autosubmit="true" type="ul" use_flags=false}</div>{/define_slot}
    {block name="after_language_selector"}
  {/if}
</div>