td.DataGrid-noneditable {
	background-color: #eaeaea;
	color: #aaa;
	font-style: italic !important;
	background-image: url(xataface/images/lock_icon.gif);
	background-position: right;
	background-repeat: no-repeat;
}