{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_section"}
	
			
			
		<div class="DataGrid-selector-wrapper" style="float:right; padding: 10px">
			<label>Select Layout</label>
			<select class="DataGrid-selector" onchange="window.location.href=this.options[this.selectedIndex].value">
			
				{foreach from=$grids item=g}
					<option value="{$g.url|escape}" {$g.selected}>{$g.gridName|escape}</option>
				
				{/foreach}
			
			</select>
		</div>
		
		<div style="clear:both">
			
		{result_controller}
		</div>
		<div style="clear:left">&nbsp;</div>
		{include file="DataGrid/grid.html"}
	{/fill_slot}
{/use_macro}